IMPORTANTO AS BIBLIOTECAS

In [0]:
import numpy as np
import pandas as pd

DEFININDO A BASE DE DADOS

In [0]:
data_table = pd.DataFrame({'Peso': np.array([40.0, 93.5, 35.5, 30.0, 52.0, 17.0, 38.5,  8.5, 33.0,  9.5, 21.0, 79.0]) / 2.205,
                            'Altura': np.array([42.8, 63.5, 37.5, 39.5, 45.5, 38.5, 43.0, 22.5, 37.0, 23.5, 33.0, 58.0]) / 39.37,
                            'Cateter': [37, 50, 34, 36, 43, 28, 37, 20, 34, 30, 38, 47]},
                            dtype='float')

In [22]:
data_table

         Peso    Altura  Cateter
0   18.140590  1.087122     37.0
1   42.403628  1.612903     50.0
2   16.099773  0.952502     34.0
3   13.605442  1.003302     36.0
4   23.582766  1.155702     43.0
5    7.709751  0.977902     28.0
6   17.460317  1.092202     37.0
7    3.854875  0.571501     20.0
8   14.965986  0.939802     34.0
9    4.308390  0.596901     30.0
10   9.523810  0.838202     38.0
11  35.827664  1.473203     47.0

EXTRAINDO OS DADOS PARA ARRAY

In [0]:
X = data_table[['Peso', 'Altura']].values
y = data_table[['Cateter']].values

In [0]:
def normalization(X, normalization_type='std'):
    X_mean = X.mean(axis = 0)
    X_std = X.std(axis = 0)
    return (X-X_mean)/ X_std, X_mean, X_std

def denormalization(X, X_mean, X_std, normalization_type='std'):
    return (X*X_std) + X_mean

def gd(X, y):
    return 

def sgd(X, y):
    return

def ols(X, y):
    return

In [0]:
X_norm, X_mean, X_std = normalization(X)
y_norm, y_mean, y_std = normalization(y)

In [0]:
y_denorm = denormalization(y_norm,y_mean, y_std)
X_denorm = denormalization(X_norm,X_mean, X_std)